@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

body {
    font-family: 'SUSE', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222831;
    color: #F7F7F8;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    position: relative;
    gap: 20px;
}


.header {
    width: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.header h1 {
    margin: 0 0 10px 0;
    font-size: 2.5em;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-links a {
    display: flex;
    align-items: center;
    color: #F7F7F8;
    text-decoration: none;
}

.header-links img {
    margin-right: 5px;
}

.job-card {
    background-color: #31363F;
    color: #FDF7E4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    max-width: 800px;
}

.job-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.job-title {
    flex: 1;
}

.job-title h3 {
    margin: 0;
    font-size: 1.5em;
    color: #FDF7E4;
}

.job-title p {
    margin: 0;
    font-size: 1.2em;
    color: #FDF7E4;
}

.job-dates {
    text-align: right;
}

.job-dates p {
    margin: 0;
    color: #FDF7E4;
}

.job-description ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.job-description ul li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.job-description ul li strong {
    color: #FDF7E4;
}

.company-logos {
    width: 55px;
    height: 55px;
    padding-right: 10px;
    border-radius: 10px;
}